<div class="Grid-row">
	<section class="Grid-col Grid-col--66">

		<!-- Tab navigation -->
		<nav class="Panel-tabs">
			<ul class="Nav Nav--tabs">
				<li class="Nav-item">
					<a class="Nav-link" href="#">Timeline</a>
				</li>
				<li class="Nav-item is-active">
					<a class="Nav-link" href="#">Hand history</a>
				</li>
				<li class="Nav-item">
					<a class="Nav-link" href="#">Connections</a>
				</li>
			</ul>
		</nav>
		<!-- /Tab navigation -->

		<!-- Connections panel -->
		<section class="Panel">
			<header class="Panel-header">
				<h1 class="Panel-heading Heading--two">Hand history</h1>
			</header>
			<div class="Panel-body">

				<p>Fusce condimentum lobortis ultrices. Aenean sapien lacus, efficitur at ante et, lobortis blandit justo. Nam molestie justo nec elit aliquet condimentum.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat est ut eros condimentum sodales. Donec eu cursus ligula, ac fermentum enim. In hac habitasse platea dictumst. Nunc auctor scelerisque nibh, quis tincidunt neque consectetur ultrices. Sed sapien nulla, elementum sit amet feugiat id, viverra ac tortor. Vivamus scelerisque lectus id varius dictum.</p>

			</div>
		</section>
		<!-- /Connections panel -->

	</section>
	<aside class="Grid-col Grid-col--33">

		<!-- People to follow -->
		<section class="Panel">
			<header class="Panel-header">
				<h2 class="Panel-heading Heading--six">People to follow</h2>
			</header>
			<div class="Panel-body">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lobortis scelerisque sem, pulvinar pulvinar risus dictum at. Pellentesque vulputate pellentesque sem et lacinia.</p>

				<p>Proin tristique in mi iaculis pellentesque.</p>
			</div>
		</section>
		<!-- /People to follow -->

		<!-- FAQ -->
		<section class="Panel">
			<header class="Panel-header">
				<h2 class="Panel-heading Heading--six">FAQ</h2>
			</header>
			<div class="Panel-body">
				<h3 class="Heading--six">How do I post a hand?</h3>

				<p>It's really easy to post a hand, you just go to your
					<a href="#">hand history</a> and click the share button</p>
			</div>
		</section>
		<!-- /FAQ -->

	</aside>
</div>